<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Profile</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif, sans-serif;
            font-size: 3ch;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200vh;
            background-color: #00810b;
        }
        .profile-card {
            background-color: #c00000;
            padding: 40px;
            border-radius: 20px;
            text-align: center;
        }
        .profile-card img {
            border-radius: 50%;
            width: 100px;
            height: 100 px;
            object-fit: cover;
        }
        .profile-card h2 {
            margin: 20px 0;
        }
        .profile-card p {
            margin: 15px 0;
        }

    </style>
</head>
<body>
    <div class="profile-card">
        <img src="/images/photo.jpg" alt="Profile Picture">
        <div class="profile-info">
            <h2>Haleef Rayyan</h2>
            <p>NIM: 2211523002</p>
            <p>Jurusan: Sistem Informasi</p>
            <p>Email: Justouse0000@gmail.com</p>
    </div>
</body>
</html>